<div class="contenidoform">

    <div class="preform">

        <form class="formulario">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="url">
            <input type="text" placeholder="Contraseña">
            <input type="text" placeholder="Repetir Contraseña">
        </form>

        <button type="submit" class="boton">Registrarse</button>

    </div>




</div>