<header class ="header">

    <div class="titulo">MyBooks</div>
   
    <div class="links">
        
        <div>
            <a  routerLink="home" routerLinkActive="active-link" *ngIf = "!this.userService.logueado">Home</a>
        </div>
        <div>
            <a  routerLink="register" routerLinkActive="active-link" *ngIf = "!this.userService.logueado">Register</a>
        </div>
        <div>
            <a  routerLink="app-login" routerLinkActive="active-link" *ngIf = "!this.userService.logueado">Login</a>
        </div>

        <div >
            <a routerLink="ad-book" routerLinkActive="active-link" *ngIf = "this.userService.logueado">AddBooks</a>
        </div>
        <div >    
            <a routerLink="update-book" routerLinkActive="active-link" *ngIf = "this.userService.logueado">UpdateBook</a>
        </div>
        <div >
            <a routerLink="profile" routerLinkActive="active-link" *ngIf = "this.userService.logueado">Profile</a>
        </div>
        <div >
            <a routerLink="books" routerLinkActive="active-link" *ngIf = "this.userService.logueado">Books</a>
        </div>
      
    </div>

  

</header>

