<header class ="header">

    <div class="titulo">MyBooks</div>
    <div class="links">
        <div>
            <a routerLink="home">Home</a>
        </div>
        <div>
            <a routerLink="ad-book">AddBooks</a>
        </div>
        <div>
            <a routerLink="update-book">UpdateBook</a>
        </div>
        <div>
            <a routerLink="register">Register</a>
        </div>
        <div>
            <a routerLink="profile">Profile</a>
        </div>
        <div>
            <a routerLink="books">Books</a>
        </div>
        <div>
            <a routerLink="app-login">Login</a>
        </div>
    </div>
  

</header>

