<header class ="header">

    <div class="titulo">MyBooks</div>
   
    <div class="links">
        
        <div>
            <a routerLink="home" routerLinkActive="active-link">Home</a>
        </div>
        <div>
            <a routerLink="ad-book" routerLinkActive="active-link">AddBooks</a>
        </div>
        <div>
            <a routerLink="update-book" routerLinkActive="active-link">UpdateBook</a>
        </div>
        <div>
            <a routerLink="register" routerLinkActive="active-link">Register</a>
        </div>
        <div>
            <a routerLink="profile" routerLinkActive="active-link">Profile</a>
        </div>
        <div>
            <a routerLink="books" routerLinkActive="active-link">Books</a>
        </div>
        <div>
            <a routerLink="app-login" routerLinkActive="active-link">Login</a>
        </div>
    </div>

  

</header>

