<div class="main">
    <div class="cardsbox">
        <div class="ngif" *ngIf="books.length === 0;else mostrarcards">
            No hay libros
        </div>
        <ng-template #mostrarcards>
            <ng-container *ngFor="let book of books;let par =even">
                <!-- eventoBoton, recoge el valor que le envia el hijo, y el $event, es el que recoge lo que tiene eventoBoton -->
               <app-card [bookPadre]="book" [parPadre]="par" (eventoBoton) ="recoger($event)"></app-card>
            </ng-container>
        </ng-template>   
    </div>

    <div class="formbox">
        <div class="preform">
            <form class="formulario">
                <H2 class="textform">Añadir libro</H2>
                <input type="text" placeholder="Title" #input1>
                <input type="text" placeholder="Type" #input2>
                <input type="text" placeholder="Author" #input3>
                <input type="text" placeholder="Price" #input4>
                <input type="text" placeholder="Photo" #input5>
                <input type="text" placeholder="Id_book" #input6>
            </form>
            <button type="button" class="boton" (click)="enviar(input1.value, input2.value, input3.value, 
                         input4.value, input5.value, input6.value)">Registrarse</button>
        </div>
    </div>

</div>
