<div class="main">

    <form class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden" email="email">Email</label>
            <input type="email" class="form-control" style="width: 250px;" name="email" [(ngModel)]="user.email"
                #emailId="ngModel" [ngClass]="{ 'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid }"
                email required>
            <div *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid" class="invalid-feedback">
                <div *ngIf="emailId.errors.required">La dirección de email es obligatoria</div>
                <div *ngIf="emailId.errors.email">Dirección email incorrecta</div>
            </div>
        </div>

        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden" >Password</label>
            <input type="password" class="form-control"  name = "password" placeholder="Password"
                [(ngModel)]="user.password" #passwordId="ngModel"
                [ngClass]="{ 'is-invalid': (passwordId.dirty || passwordId.touched) && passwordId.invalid }"
                minlength="8" required id="inputPassword2" required>
            <div *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid" class="invalid-feedback">
                <div *ngIf="passwordId.errors.required">La clave es obligatoria</div>
                <div *ngIf="passwordId.errors.minlength">La clave debe tener al menos 8 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary mb-3" [disabled]="userForm.invalid">Register</button>
        </div>
    </form>


</div>