

<div class="formbox">
    <div class="preform">
        <form class="formulario">
            <H2 class="textform">Modificar libro</H2>
            <input type="text" placeholder="Title" #input1>
            <input type="text" placeholder="Type" #input2>
            <input type="text" placeholder="Author" #input3>
            <input type="text" placeholder="Price" #input4>
            <input type="text" placeholder="Photo" #input5>
            <input type="text" placeholder="Id_book" #input6>
        </form>
        <button type="button" class="boton" (click)="enviar(input1.value, input2.value, input3.value, 
                     input4.value, input5.value, input6.value)">Modificar</button>
    </div>
